body{
    text-align: left;
    font-family: "Times New Rowan";
    color: red;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background: #33A;
    /* box-shadow: 0px 7px 5px 5px ; */
    -webkit-box-shadow: 0px 7px 5px 20px rgba(128,165,194,0.6);
    -moz-box-shadow: 0px 7px 5px 9px rgba(128,165,194,0.6);
    box-shadow: 0px 7px 5px 5px rgba(128,165,194,0.6);
    color: white;
    margin: 0;
    font-weight: bold;
    padding: 1rem;
}

#cabecera #tagline{
    padding: 0 0 0 1rem;
    font-weight: normal;
    font-size: 0.8rem;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
